name: Pre Release
on:
  pull_request:
    paths: [CHANGELOG.md]
    branches: [main]
jobs:
  Post-Comment:
    name: Post Comment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          source .github/scripts/changelog.sh
          git fetch origin --tags
          if [[ -z "$(git tag -l "v$version")" ]]; then
            echo "BODY<<EOF" >> $GITHUB_ENV
            echo "$(IFS=$'\n'; echo "${log[*]}")" >> $GITHUB_ENV
            echo "EOF" >> $GITHUB_ENV
            echo "TAG=v$version" >> $GITHUB_ENV
          fi
        shell: bash
      - if: ${{ env.TAG != '' }}
        uses: marocchino/sticky-pull-request-comment@f6a2580ed520ae15da6076e7410b088d1c5dddd9 # v2.7.0
        with:
          header: pre-release
          recreate: true
          message: |
            ## ${{ env.TAG }}

            ${{ env.BODY }}
